.config/lazygit/state.yml
.config/alacritty/themes
.config/alacritty/host_configs.toml

.config/opencode/node_modules
.config/opencode/package.json
.config/opencode/bun.lock
.config/opencode/.gitignore

.claude/**
!.claude/CLAUDE.md
!.claude/agents/
!.claude/agents/**
!.claude/commands/
!.claude/commands/**
!.claude/settings.json
